html {
   font-size: 10px; 
   font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: silver;
}
#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
  }

h1 {
    font-size: 30px;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  #img-div {
    padding: 10px;
    margin: 0;
  }
#img-caption {
    margin: 15px 0 5px 0;
}
@media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  #tribute-info {
      font-size: 16px;
  }